<?xml version="2.0"?>
<model>
  <name>room</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Levente Nemeth</name>
    <email>nemethlevente77@gmail.com</email>
  </author>
  <description>The important mesure is 6mx5,5m and the walse is 0,25 m thin. The door is 1,25 m x 2,5 m</description>
</model>